body{
    margin: auto;
    padding: 0;
}

.container{
    background-color: #a52a52;
    background-size: cover;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote{
    margin: 20px 0;
}

#tip-text{
    max-width: 500px;
  margin: 0 auto;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}    


button{
    background-color: #a52a52;
    color: #f0f8f0;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #a52a52;
}